/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values
/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.s
/build/kotlin/compileTestKotlin/caches-jvm/inputs/source-to-output.tab.values
/build/kotlin/compileTestKotlin/caches-jvm/inputs/source-to-output.tab.values.s
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/proto.tab.values
/build/kotlin/compileTestKotlin/caches-jvm/jvm/kotlin/proto.tab.values.s
/build/reports/tests/test/classes/dataStructure.DoublyCircularLinkedListTest.html
/build/test-results/test/TEST-dataStructure.DoublyCircularLinkedListTest.xml
